/.env
/.env.*
!/.env.example
/vendor/
/node_modules/
/.phpunit.cache/
/.phpunit.result.cache
/.forge-task.json
/dist/
/coverage/
*.sqlite
*.sqlite-*
/storage/**
!/storage/**/
!/storage/**/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/auth.json
/.idea/
/.vscode/

/error_log
*.log
